PORT=5000
CLIENT_URL=http://localhost:8443,http://localhost:5173,https://geetpay.in,https://www.geetpay.in
NODE_ENV=production
COOKIE_SAME_SITE=none
COOKIE_SECURE=true

DB_PORT=3306
DB_HOST=127.0.0.1
DB_USER=your_cpanel_db_user
DB_PASSWORD=your_cpanel_db_password
DB_NAME=your_cpanel_db_name

JWT_SECRET=your_super_secret_jwt_key

# WhatsApp API Config
WA_AUTHKEY=your_wa_authkey
WA_COUNTRY_CODE=91
WA_REJECTION_TEMPLATE_ID=44862
WA_DOCUMENT_REQUEST_TEMPLATE_ID=45020

# Verification APIs
mobile_to_upi_api_id=
mobile_to_upi_api_key=
mobile_to_upi_token_id=

bank_verification_penny_api_id=
bank_verification_penny_api_key=
bank_verification_penny_token_id=
bank_verification_penny_api_url=https://javabackend.idspay.in/api/v1/prod/idfc/beneficiary

ckyc_search_api_id=
ckyc_search_api_key=
ckyc_search_token_id=

mobile_to_bank_api_id=
mobile_to_bank_api_key=
mobile_to_bank_token_id=
mobile_to_bank_api_url=https://javabackend.idspay.in/api/v1/prod/srv3/mobile-to-bank/advance

adhar_verification_api_id=
adhar_verification_api_key=
adhar_verification_token_id=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API=
CLOUDINARY_API_KEY=
CLOUDINARY_URL=
